@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{


    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    /*--color-white: #fff;*/
    --color-info-dark: #78da1;
    --color-info-light: #dce1eb;
    /*--color-dark: #363949;*/
    /*--color-light: rgba(132, 139, 200, 0.18);*/
    --color-primary-variant: #111e88;
    /*--color-dark-variant: #677483;*/
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    /*--box-shadow: 0 2rem 3em var(--color-light);*/

    /* DARK THEME */
    --color-theme-dark: #181a1e;
    --color-white: #202528 ;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0,0,0,0.4);
    --box-shadow: 0 2rem 3em var(--color-light);


}

body{

    /*background: #e3e7f3;*/
    background: var(--color-white);
    font-family: 'Poppins', serif;
    margin-top: 50px;

}

#api-container{

    width: 80%;
    margin: auto;
    color: white;
}

.card-container{

    padding: 5px;
    /*background: #f5f6fb;*/
    background: var(--color-white);
    border-radius: 5px;
    box-shadow: var(--box-shadow);

}

.card-title, .card-body-title, .card-body-info{

    /*background: #fff;*/
    background: var(--color-white);
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);


}
.card-body-title, .card-body-info{

    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.card-title{

    /*margin-top: 10px;*/

}

.card-body-info{


}

a{
    text-decoration: none;
    color: #8395ca;
}

a:hover{

    background: #e3e7f3;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

img{

    width: 100%;
}

.placeholder{

    background: #ebffeb;
    color: #90ee90;
    padding: 3px;
    border-radius: 5px;
}